<% FOREACH container IN containers %>
	<% container.uid %> <% container.name %> <% container.hostname %> <% container.ip %> <% container.server_address %> <% container.distro_name %> <% container.uuid %>
<% END %>
